@font-face {
  font-family: 'Times Now';
  src: url('TimesNow-SemiLight.eot');
  src: local('Times Now SemiLight'), local('TimesNow-SemiLight'),
  url("TimesNow-SemiLight.eot?#iefix") format('embedded-opentype'),
  url("TimesNow-SemiLight.ttf") format("truetype"),
  url("TimesNow-SemiLight.woff") format("woff"),
  url("TimesNow-SemiLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

h1,
#things li u,
#things li small,
#readme,
footer {
  font-family: "Arial Narrow", "Yu Gothic", Arial, sans-serif;
}

summary,
#filter select,
#things li a {
  font-family: 'Times Now', 'Times New Roman', Times, serif;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  letter-spacing: -0.1rem;
  word-spacing: -.1ch;
}

#main,
h1 {
  background: #fff;
}

#description {
  color: #000;
}

#things li p {
  display: flex;
  align-items: start;
  flex-flow: wrap;
  justify-content: space-between;
}

#things li p a {
  background: #000;
  color: #fff;
  padding: 0.25rem;
  font-size: 125%;
  line-height: 100%;
  text-decoration: none;
}

#things li p u {
  border: solid 1px;
  border-radius: 0.25rem;
  font-size: 90%;
  padding: 0.25rem;
  text-decoration: none;
}

#things li small {
  display: block;
}

#things li p,
#things li small {
  margin: 0.5rem 0;
  width: 100%;
}
