html {
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
}

button,
input[type="button"],
summary,
select,
fieldset,
textarea {
  appearance : none;
  background: transparent;
  box-sizing: border-box;
  border: none;
  color: #000;
  outline: none;
}

button,
input[type="button"] {
  cursor: pointer;
  font-size: 200%;
  pointer-events: auto;
  margin: 0.5rem;
  user-select: text;
  transition: 1s;
}

button {
  font-weight: 500;
  padding: 0.5rem;
}

input[type="button"] {
  border-radius: 50%;
  padding: 0.175rem 0.75rem;
}

#mainBtn,
#backBtn {
  position: fixed;
  top: 0;
  z-index: 1000;
}

#mainBtn {
  left: 0;
}

#backBtn {
  right: 0;
}

hr {
  border: none;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 3.33vw;
  }

  button,
  input[type="button"] {
    margin: 1vw;
  }

  button {
    padding: 1vw;
  }

  input[type="button"] {
    padding: 0.25vw 2.25vw;
  }
}
