html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body,
#things,
#things li p {
  padding: 0;
  margin: 0;
}

summary,
#description,
#filter,
#things li,
#readme,
footer h1,
footer p {
  padding: 0.5rem;
  margin: 0;
}

input[type="button"],
summary,
select {
  appearance : none;
  background: transparent;
  border: none;
  outline: none;
  outline: none;
}

input[type="button"] {
  border-radius: 50%;
  padding: 0.175rem 0.75rem;
  transition: 1s;
}

#filter select {
  border-bottom: 1px solid;
  padding: 0.25rem;
  margin: 0 0.5rem 0.5rem 0;
}

input[type="button"] {
  font-size: 200%;
}

summary {
  font-size: 150%;
}

#filter,
summary b,
h1 {
  font-size: 125%;
}

#filter select {
  font-size: 100%;
}

#things {
  font-size: 95%;
}

#description {
  font-size: 75%;
}

#description {
  font-weight: 700;
}

h1,
summary b {
  font-weight: 500;
}

input[type="button"]:hover,
summary:hover {
  cursor: help;
}

#things {
  display: grid;
  grid-gap: 0.5rem 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#things li {
  list-style: none;
  overflow: hidden;
}

footer,
footer h1,
footer p {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

footer,
footer p {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
}

footer h1,
footer p {
  border: 1px solid;
}

footer p {
  flex: 1 200px;
}

footer .small {
  flex: 1 250px;
}

footer .medium {
  flex: 1 400px;
}

footer h1 {
  width: 100%;
}

footer a {
  color: inherit;
}

#changeMain {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.25rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 3vw;
  }
}
