@font-face {
  font-family: 'Times Now';
  src: url('font/TimesNow-SemiLight.eot');
  src: local('Times Now SemiLight'), local('TimesNow-SemiLight'),
  url("font/TimesNow-SemiLight.eot?#iefix") format('embedded-opentype'),
  url("font/TimesNow-SemiLight.ttf") format("truetype"),
  url("font/TimesNow-SemiLight.woff") format("woff"),
  url("font/TimesNow-SemiLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

footer a,
footer b,
footer time,
footer small {
  font-family: 'Xanh Mono', monospace;
  font-weight: 600;
}

h1,
#things li u,
#things li small,
footer p {
  font-family: "Arial Narrow", "Yu Gothic", Arial, sans-serif;
}

#result,
#filter select,
#things li a {
  font-family: 'Times Now', 'Times New Roman', Times, serif;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  letter-spacing: -0.1rem;
  word-spacing: -.1ch;
}

#main,
h1 {
  background: #fff;
}

#description {
  color: #000;
}

#things li a {
  border: solid 1px;
  padding: 0.25rem;
  font-size: 125%;
  line-height: 125%;
  text-decoration: none;
}

#things li p {
  display: flex;
  align-items: start;
  flex-flow: wrap;
  justify-content: space-between;
}

#things li u {
  border: solid 1px;
  border-radius: 0.25rem;
  font-size: 90%;
  padding: 0.25rem;
  text-decoration: none;
}

#things li p {
  margin-bottom: 0.5rem;
  width: 100%;
}