@font-face {
  font-family: "ipag";
  src: url("https://creative-community.space/ver/font/ipag.ttc");
}

@font-face {
  font-family: 'Times Now';
  src: url('font/TimesNow-SemiLight.eot');
  src: local('Times Now SemiLight'), local('TimesNow-SemiLight'),
  url("font/TimesNow-SemiLight.eot?#iefix") format('embedded-opentype'),
  url("font/TimesNow-SemiLight.ttf") format("truetype"),
  url("font/TimesNow-SemiLight.woff") format("woff"),
  url("font/TimesNow-SemiLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Arial Narrow", "Yu Gothic", Arial, sans-serif;
}

#log li p u,
main nav {
  font-family: "ipag", monospace;
}

#result,
#filter select,
#log li p a,
#log li p b {
  font-family: 'Times Now', 'Times New Roman', Times, serif;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  letter-spacing: -0.1rem;
  word-spacing: -.1ch;
}

#filter,
#main aside {
  background-color: #fff;
  color: #000;
}

#log li p a {
  font-size: 125%;
}

.list,
#readme {
  font-size: 111%;
}

hr {
  margin: 1rem;
}

@media screen and (max-width: 550px) {
  .list {
    font-size: 125%;
  }

  hr {
    margin: 2.5vw;
  }
}
